@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first web app in C#</h1>
    <p> <ul>
        <li>
            Know about MCV in C#
        </li>
        <li>
            Perform a Crud App
        </li>
    </ul></p>
</div>
